name: CI

on:
  push:
    branches:
    - main
    paths:
    - '**.swift'
    - '**.yml'
  pull_request:
  workflow_dispatch:

jobs:
  linux:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      matrix:
        image: ["swift:6.0", "swift:6.1", "swift:6.2"]

    container:
      image: ${{ matrix.image }}
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build
      run: |
        swift build

  archive:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    container:
      image: swift:6.2
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Build Doc Archives
      run: swift package generate-documentation
    - name: store archives as build artifacts
      uses: actions/upload-artifact@v4
      with:
        name: docc-archives
        path: |
          .build/plugins/Swift-DocC/outputs/
